body {
  width:1008px;
  height:auto;
  margin:auto;
  margin-bottom:0px;
}

button {
  display:block;
  margin: 20px auto;  /*To center the button */
}

.box {
  background-color:black;
  height:60px;
  width:60px;
  border-radius:20px;
  display:inline-block;
  margin-right:3px;

}
